<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ch.srf.iran-krieg.reduce-points</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/bcnm@mediait.ch/Projects/work/iran/scripts/reduce_iran_krieg_points.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/bcnm@mediait.ch/Projects/work/iran</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/bcnm@mediait.ch/Projects/work/iran/data/iran_krieg_daily/logs/launchd_stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/bcnm@mediait.ch/Projects/work/iran/data/iran_krieg_daily/logs/launchd_stderr.log</string>
</dict>
</plist>
